# networking service
uvloop==0.17.0
msgpack==1.0.5
cloudpickle==2.2.1
lz4==4.0.2
pyzmq==25.0.2
aiozmq==1.0.0
# monitoring service
# psutil==5.9.2
# Redis
redis==4.3.4
# Kafka
aiokafka==0.8.0
# snapshots
minio==7.1.12
miniopy-async==1.9